<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MinatoProject.Apps.JLeagueLiveTweet.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MinatoProject.Apps.JLeagueLiveTweet.Core.Properties.Settings>
            <setting name="PrivateGuid" serializeAs="String">
                <value>11223b4a-239b-45ae-a2de-3bb8603154bf</value>
            </setting>
            <setting name="TwitterApiKey" serializeAs="String">
                <value>rSlgVfctHz2wKr0nDn2jgYbbx</value>
            </setting>
            <setting name="TwitterApiSecret" serializeAs="String">
                <value>6DEDeKLbpyuegSTRHQctVVA3KsLRCdFV1YBK2a6XWeteo58gKq</value>
            </setting>
            <setting name="TwitterBearerToken" serializeAs="String">
                <value>AAAAAAAAAAAAAAAAAAAAALh7TQEAAAAAc0qgl4pdwj3S3F7A9baf%2BwssLEs%3D8d3TL6JvK8BV48buQ0REn4Ydt2LjefNRWNhSbW9vzyALfOs3vP</value>
            </setting>
        </MinatoProject.Apps.JLeagueLiveTweet.Core.Properties.Settings>
    </userSettings>
</configuration>